<a href="https://colab.research.google.com/github/jdhaecker/Training/blob/master/C3_Intro_To_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Clone the entire repo.
!git clone -l -s https://github.com/cagBRT/Intro-to-Programming-with-Python.git cloned-repo
%cd cloned-repo
!ls

In [0]:
from IPython.display import Image
def page(num):
    return Image("c3-content/c3PythonProgramming"+str(num)+ ".png" , width=640)

# Data Collections
There are times when you will want to store a series of data points as a single variable. <br>
For example: <br>

You have 3 students in one group and 2 students in another group. <br>
Sometimes it would be nice to treat a group as a single variable. <br>
You can use arrays to do this. <br>
For example: <br>
group1 = ["Joe","Susan","Bob"] <br>
group2 = ["Tommy","Chandler"]<br>

<br>group1 is an array with 3 elements. <br>
group2 is an array with 2 elements. 

<br>When you have a lot of data, arrays can make working with the data a lot easier.

# Data Collections (Arrays)

Python does not have arrays. <br>
Python has lists - which can be used like arrays.<br>

# Lists<br>
Lists are a collection of variables that are ordered and changeable. <br>

In [0]:
page(1)

To fully appreciate the power of lists, let's look at how to do a sorting task without lists.<br>
Write code to sort the 5 variables from lowest number to highest number.

In [0]:
#Create the variables
score1 = 96
score2 = 88
score3 = 97
score4 = 99
score5 = 76

In [0]:
#Using if statements, write a program to sort the scores
score1 = 96
score2 = 88
score3 = 97
score4 = 99
score5 = 76

if score1>score2:
  pos1=score1
  pos2=score2

In [0]:
#@title 
#write code to put the scores in numerical order
if score1 > score2:
  temp = score1
  score1 = score2
  score2 = temp

if score1 > score3:
  temp = score1
  score1 = score3
  score3 = temp

if score1 > score4:
  temp = score1
  score1 = score4
  score4 = temp

if score1 > score5:
  temp = score1
  score1 = score5
  score5 = temp

#---

if score2 > score3:
  temp = score2
  score2 = score3
  score3 = temp

if score2 > score4:
  temp = score2
  score2 = score4
  score4 = temp

if score2 > score5:
  temp = score2
  score2 = score5
  score5 = temp

#---

if score3 > score4:
  temp = score3
  score3 = score4
  score4 = temp

if score3 > score5:
  temp = score3
  score3 = score5
  score5 = temp

#---

if score4 > score5:
  temp = score4
  score4 = score5
  score5 = temp

#---
print(score1)
print(score2)
print(score3)
print(score4)
print(score5)

Sorting the numbers takes a fair amount of coding. If another number is added to the list, the program would have to be modified quite a bit to accommodate the new variable. <br>
<br>
Let's use a Python List to put the variables in numerical order.

# Create a Python List
1. create the list using the form:<br>
      list_name = [value, value, value, value,..., value, value]<br>
      For example: cat_names = ["Belle","Callie","Bootsie","Spot"]<br>

2. Sort the list using the method sort()<br>
      For example: cat_names.sort()

In [0]:
#Create a list
score = [96,88,97,99,76]
print(score)

# **Assignment #1**

1. Create a list called grades with the following values: 
2,43,76,98,10,33,25,37,44,33,100,1,90,23, 27, 11
2. Print the list.

In [0]:
#Create a list with the following values: 
#2,43,76,98,10,33,25,37,44,33,100,1,90,23, 27, 11
#TODO

grades = [2,43,76,98,10,33,25,37,44,33,100,1,90,23, 27, 11]
print(grades)
#the below function will sort the list (array) for you
print(sorted(grades))
print(grades)

# Choosing an element in a list
To choose a single element in the list, use the form<br>
List-name(index number)<br>
For example: 
*   averages[0] ... this selects the **first** element in the list
*   averages[4] . ... this selects the **fifth** element in the list

In [0]:
#Create a list
score = [96,88,97,99,76]
print("the first element in score is ",score[0])
print("the second element in score is ",score[1])
print("the third element in score is ",score[2])
print("the fourth element in score is ",score[3])
print("the fifth element in score is ",score[4])

# **Assignment #2**

1. Create a list called grades with the following values: 
2,43,76,98,10,33,25,37,44,33,100,1,90,23, 27, 11
2. Print the list.
3. Print the following elements of the grades:<br>
first element, 4th element, 10th element, last element

In [0]:
#Assignment #2

#1. Create a list called grades with the following values: 
#   2,43,76,98,10,33,25,37,44,33,100,1,90,23, 27, 11
#2. Print the list.
#3. Print the following elements of the grades:<br>
#   first element, 4th element, 10th element, last element

#TODO
#initial creation of grade list and print
grades = [2,43,76,98,10,33,25,37,44,33,100,1,90,23, 27, 11]
print(grades)
print("The first grade is: ", grades[0])
print("The fourth grade is: ", grades[4-1])
print("The tenth grade is: ", grades[10-1])

#approach 1 to finding the last element
print("The last grade is: ", grades[-1])
#appraoch 2 to finding the last element
print("The last grade is: ", grades[(len(grades)-1)])

#sort the lists and print ascending and descending
grades_rev = grades
grades_rev.sort(reverse=True)
print(grades_rev)
grades_rev.sort(reverse=False)
print(grades_rev)

# Sorting Lists
As we saw at the start of this lesson, sorting a series of variables is not a trivial task. In fact, computer science students spend quite a bit of time learning many different sort algorithms because it is such and important and compute intensive task. <br>
<br>
Using a Python List can make sorting a large number of variables very easy. Just use the built-in sort function. <br>
<br>
The form of the built-in sort function is: <br><br>
list-name.sort()<br>
For example: <br>
score.sort()

In [0]:
#Create a list
score = [96,88,97,99,76]

#sort the list into numerical order
score.sort()
print(score)

# **Assignment #3**
1. Create a list called grades with values:<br>
  23,54,87,56,99,87,32,9,29,76,75,45
1. Sort the list from lowest to highest number
2. Print the list

In [0]:
#Assignment 2
#Sort the list called grades
#TODO
#initial creation of grade list and print
grades = [23,54,87,56,99,87,32,9,29,76,75,45]
print(grades)

#sort the lists and print ascending and descending
grades_rev = grades
grades_rev.sort()
print(grades_rev)
grades_rev.sort(reverse=True)
print(grades_rev)

Python lists have a number of built in methods. <br>
There is no need to memorize the built in methods, because.... we have the internet!<br>
Go to [this link](https://www.w3schools.com/python/python_ref_list.asp) to see the methods for lists.

# **Assignment #4**
1. Create a list with 10 float values. 
2. Sort the list in ascending order. 
3. Sort the list in descending order. 
4. Print the list.

In [0]:
#Create a list of floats
#Sort in ascending order
#Then sort in descending order
#TODO
floats = [2.2, 1.1, 4.4, 3.3, 6.6, 10.10, 7.7, 5.5, 8.8, 9.9]
floats.sort()
print(floats)
floats.reverse()
print(floats)

#OR
floats.sort()
print(floats)
floats.sort(reverse=True)
print(floats)

# **Assignment #5**
1. Create a list of 10 states names. 
2. Print the list.
3. Delete the state name in the 5th position in the list. Remember lists start with position 0. 
4. Print the list.
5. Add Hawaii to the end of the list.

In [0]:

#1. Create a list of 10 states names. 
#2. Print the list.
#3. Delete the state name in the 5th position in the list. Remember lists start with position 0. 
#4. Print the list.
#5. Add Hawaii to the end of the list.
#TODO 
states = ["AR", "AL", "CT", "GA", "IL", "IA", "NE", "MT", "TX", "WI"]
print(states)

print("Remove method #1")
states.remove("IL")
print(states)

#OR
states = ["AR", "AL", "CT", "GA", "IL", "IA", "NE", "MT", "TX", "WI"]
print("Remove method #2")
states.remove(states[4])
print (states)

#OR
states = ["AR", "AL", "CT", "GA", "IL", "IA", "NE", "MT", "TX", "WI"]
print("Remove method #3")
del(states[4])
print (states)

states.append("FL")
print(states)

# **Assignment #6**
1. Create a list of 10 floats. <br>
Using the builtin functions at https://www.tutorialspoint.com/python/python_lists.htm perform the following tasks:
2. Print the list
3. Print the minimum number from the list
4. Print the maximum number from the list
5. Print the length of the list

In [0]:
#Assignment #5
#1. Create a list of 10 floats. <br>
#Using the builtin functions at https://www.tutorialspoint.com/python/python_lists.htm perform the following tasks:
#2. Print the list
#3. Print the minimum number from the list
#4. Print the maximum number from the list
#5. Print the length of the list

#TODO
floats = [2.2, 1.1, 4.4, 3.3, 6.6, 10.10, 7.7, 5.5, 8.8, 9.9]
print(floats)
floats.sort()
print(floats[0])
print(floats[-1])
print(len(floats))
print(max(floats))
print(min(floats))

# Quiz

In [0]:
page(2)

In [0]:
#@title Q1: What is the output of the above code? 
variable_name = "Tim" #@param {type:"string"}
variable_name = variable_name.lower()
if variable_name == "tim":
  print("correct!")
else:
  print("Try again. Remember List indexes start with 0")

In [0]:
page(3)

In [0]:
#@title Q2: What is the outcome of the above code? 

pick_me = "77 is above 50"  #@param ['pick one','77 is above 50', '77 is above 75', '77 is above 100', '77 is too small to count']
if pick_me == "77 is above 50":
  print("correct!")
else:
  print("Try again, remember the first true 'elif' statement is executed" )

In [0]:
page(4)

In [0]:
#@title Q3: What is the output of the code?
pick_me = "77 is above 25"  #@param ['77 is above 25', '77 is above 50', '77 is above 75', 'is to large to count']
if pick_me == "77 is above 25": 
  print("correct!")
else:
  print("Try again, remember the first true 'elif' statement is executed" )

# **Assignment #7**
Create a program that performs the following task:
1. Create a List called scores with the following values:
   5,4,8,7,2,2,4,9,1,3,8,6,9,8
2. Check the 1, 3, 5, 10 index values. If all 4 values are greater than 2 and less than 7, print "PASS"
3. If only 3 of the values are greater than 2 and less than 7, print "ALMOST PASS"
4. If only 2 of the values are greater than 2 and less than 7, print "ALMOST FAIL"
5. If only 1 of the value is greater than 2 and less than 7, print "FAIL"

In [0]:
#Assignment #6
#Create a program that performs the following task:
#1. Create a List called scores with the following values:
#  5,4,8,7,2,2,4,9,1,3,8,6,9,8
#2. Check the 1, 3, 5, 10 index values. If all 4 values are greater than 2 and less than 7, print "PASS"
#3. If only 3 of the values are greater than 2 and less than 7, print "ALMOST PASS"
#4. If only 2 of the values are greater than 2 and less than 7, print "ALMOST FAIL"
#5. If only 1 of the value is greater than 2 and less than 7, print "FAIL"

#TODO
numbers = [5,4,8,7,2,2,4,9,1,3,8,6,9,8]
print(numbers)
count=0
if numbers[1] > 2 and numbers[1] < 7:
  count=count+1
if numbers[3] > 2 and numbers[3] < 7:
  count=count+1
if numbers[5] > 2 and numbers[5] < 7:
  count=count+1
if numbers[10] > 2 and numbers[10] < 7:
  count=count+1
print(count)
if count == 4:
  print("PASS")
elif count == 3:
  print("ALMOST PASS")
elif count == 2:
  print("ALMOST FAIL")
elif count == 1:
  print("FAIL")
else:
  print("SUPER FAIL")

#ANOTHER ALTERNATIVE FROM SOMEONE IN CLASS (Lucas Hunziker)
scores=[5,4,8,7,2,2,4,9,1,3,8,6,9,8]
scores_sub = [scores[1],scores[3],scores[5],scores[10]]
print("scores_of_interest",scores_sub)
x=sum(i>2 and i<7 for i in scores_sub)
print(x)
if x==4:
  print("Pass")
elif x==3:
  print("almost pass")
elif x==2:
  print("Almost fail")
elif x==1:
  print("Fail")

#ANOTHER ALTERNATIVE FROM SOMEONE IN CLASS (Hongyan)
scores = [5,4,8,7,2,2,4,9,1,3,8,6,9,8]
count = (scores[1] >2 and scores[1] <7) + (scores[3] >2 and scores[3] <7) + (scores[5] >2 and scores[5] <7) +(scores[10] >2 and scores[10] <7)
print(count)
if (count == 4):
    print("PASS")
elif (count == 3):
    print("ALMOST PASS")
elif (count == 2):
    print("ALMOST FAIL")
else:
    print("FAIL")

#ANOTHER ALTERNATIVE FROM SOMEONE IN CLASS (IAN MARKHAM) - need to troubleshoot as it doesn't quit work
# Init
scores = [5,4,8,7,2,2,4,9,1,3,8,6,9,8]
score_subset=[]
score_subset.append(scores[1])
score_subset.append(scores[3])
score_subset.append(scores[5])
score_subset.append(scores[10])

print(score_subset)
gt_counter = 0

# Check
for score in score_subset:
  if score > 2 and score < 7:
    gt_counter+=1
  
# Ouput
print("lt_counter:",lt_counter)
print("gt_counter:",gt_counter)

# Checks
if(gt_counter == 4 and lt_counter == 4):
  print("PASS")
elif(gt_counter == 3 and lt_counter == 3):
  print("ALMOST PASS")
elif(gt_counter == 2 and lt_counter == 2):
  print("ALMOST FAIL")
elif(gt_counter == 1 and lt_counter == 1):
  print("FAIL")

# List of Lists
https://www.dataquest.io/blog/python-list-tutorial/

Let's create several Lists and see what we can do with them.<br>

In [0]:
#Movie title, weeks released, weekend gross, rotten tomatoes rating
row_1 = ['Star Wars: Rise of Skywalker',3,34.5, 54]
row_2 = ['Jumanji: The Next Level', 4, 26.2, 70 ]
row_3 = ['Little Women', 3, 26.2, 95]
row_4 = ['The Grudge', 1, 11.4, 16]

#print the length of a row
print(len(row_1))

#print the names of the movies
print(row_1[0])
print(row_2[0])
print(row_3[0])
print(row_4[0])

#print the average rotten tomatoes rating for the four movies
average = (row_1[3] + row_2[3] + row_3[3] + row_4[3] )/4
print("rotten tomatoes average = ", average)

#Make a list of lists
data_set = [row_1, row_2, row_3, row_4]

#print the first row of our data set
print(data_set)
#notice the double row of brackets in the output
#and the commas between the rows

#print the rotten tomatoes rating for the third row in the dataset
print(row_3[3], "is the rotten tomatoes rating for ", row_3[0])

# **Assignment #8**
Create a List of Lists (call it dataset) for the rows shown below. 
<br>
T-Meter is the rotten tomatoes rating
<br><br>
Then print the average of the weekend gross for all the listed movies.

In [0]:
page(5)

In [0]:
# **Assignment #8**
#Create a List of Lists (call it dataset) for the rows shown above. 
#Then print the average of the weekend gross for all the listed movies.

#TODO
dataset=[]
row=[]
row1 = ["Star Wars: The Rise of Sky Walker", 0.54, 3, 34.5, 34.5]
row2 = ["Jumaji: The Next Level", 0.70, 4, 26.2, 26.2]
row3 = ["Little Women", 0.95, 3, 13.6, 13.6]
row4 = ["Frozen II", 0.77, 7, 11.9, 11.9]
row5 = ["The Grudge", 0.16, 1, 11.4, 11.4]
row6 = ["Spies in Disguise", 0.75, 3, 10.4, 10.4]
row7 = ["Knives Out", 0.97, 7, 8.9, 8.9]
row8 = ["Uncut Gems", .92, 3, 7.6, 7.6]

dataset = [row1, row2, row3, row4, row5]

ave_wknd_gross = (row1[4] + row2[4] + row3[4] + row4[4] + row5[4])/(len(dataset))
print(dataset)
print("The average is: ", ave_wknd_gross)

Congrats! You finished another Python Module.
Keep up the good work....start the next module

C4 Intro to ML Programming with Python
<br><br>
Instructions to access the notebooks:<br> 
In a Chrome or Firefox Window type on the search bar: **Google CoLab**<br>

On the orange menu bar, select the menu item: **GITHUB**<br>

If the orange pop-up menu does not appear, <br>

In the Notebook environment, select File>Open notebook <br>

The orange pop-up menu should now appear.<br>

Select:  GITHUB<br>

On the search bar type in: **cagBRT**  This will bring up my gitHub repository. <br>

On the drop down menu select: cagBRT/<br>**Intro-To-Programming-with-Python**<br>

Then select: **Intro to C4 Intro to Python.ipynb**<br>