<a href="https://colab.research.google.com/github/jdhaecker/Training/blob/master/C4_Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Clone the entire repo.
!git clone -l -s https://github.com/cagBRT/Intro-to-Programming-with-Python.git cloned-repo
%cd cloned-repo
!ls

In [0]:
from IPython.display import Image
def page(num):
    return Image("c4-content/c4PythonProgramming"+str(num)+ ".png" , width=640)

# For Loops

There are times when you may want to execute the same task several times. Rather than writing the code over and over, you can use a 'for' loop. <br>

In [0]:
page(1)

In [0]:
page(2)

A Python 'for' loop uses the form: <br><br>

for iterating_var in sequence: <br>
>   statements(s)

In [0]:
for letter in 'Python':   
   print ('Current Letter :', letter)

# **Assignment #1**

Write a program to do the following: 
1. For every letter in your name, use a for loop to 
> print ("letter is ", letter)

In [0]:
#Assignment #1

#TODO
for letter in 'Jesse Haecker':
  print("Current Letter :", letter)

**For loops can be used with numbers.**

In [0]:
#for loop example
for x in range(6): 
  print(x)

# **Assignment #2**
Use a 'for' loop to print the integers from 0 - 9

In [0]:
# **Assignment #2**

#TODO
for x in range(10):
  print(x)

for x in range(10):
  print(x+1)

**For loops can be assigned a range and increment value.**

In [0]:
#Example of for loop with a range and
#increment value

#Print the every 5th integer from 10 - 50 
for x in range(10,50,5):
  print(x)

# **Assignment #3<br>**
Use a 'for' loop to print every third integer from 30 to 60, inclusive

In [0]:
#Assignment #3

#TODO
for x in range(30,61,3):
  print(x)

**Debug Exercise**<br>
Fix the code below

In [0]:
for x in range(10, 20.5, 2.5):
  print(x)

**Using the 'else' statement with a for loop.**<br>
An 'else' statement can be used with a for loop. <br>
The example below uses an else statement, but it is not a very good example. Why?

In [0]:
for number in range(5):
  print(number)
else: 
  print("Done")

A better example of using an 'else' statement with a for loop.

In [0]:
number_of_a = 0
number_of_others = 0

sentence = "I'm going to make him an offer he can't refuse"
for x in sentence: 
  
  if x== 'a': 
    number_of_a  = number_of_a  + 1
  else: 
    number_of_others = number_of_others + 1
print("there are ", number_of_a, "a's in sentence")
print("there are ", number_of_others, "other characters")
print(chars)

# **Assignment #4**

Modify the code to print the total number of characters in the sentence.

In [0]:
#Assignment #4
number_of_a = 0
number_of_others = 0
chars=0
chars2=0
sentence = "I'm going to make him an offer he can't refuse"
for x in sentence: 
  chars2+=1
  if x== 'a': 
    number_of_a  = number_of_a  + 1
    chars=chars+1
  else: 
    number_of_others = number_of_others + 1
    chars=chars+1
print("there are ", number_of_a, "a's in sentence")
print("there are ", number_of_others, "other characters")
print(chars)
print(chars2)

# **Assignment #5**
1. Print the characters in this sentence:
>The rain in Spain falls mainly in the plain. 
2. Count all the letters, ignoring the blank spaces
3. Print out the number of letters in the sentence

In [0]:
#Assignment 4

#TODO
number_of_a = 0
number_of_others = 0
chars=0
chars2=0
sentence = "The rain in Spain falls mainly in the plain."
print(sentence)
for x in sentence: 
  chars2+=1
  if x != ' ' and x != ".": 
    number_of_a  = number_of_a  + 1
  else: 
    number_of_others = number_of_others + 1
print("there are ", number_of_a, "letters in the sentence")
print("there are ", number_of_others, "spaces")
print("there are ", chars2, "total characters")

count = len(sentence) - sentence.count(' ') - sentence.count('.')
print(count)

# **Quiz**

In [0]:
page(5)

In [0]:
scores = [32,34,76,98,3,4,55,99,21,2,34,65,81,25,98,90]
for i in scores: 
  if(i%3)==0:
    print(i)

In [0]:
#@title Q1
variable_name = "multiples of three" #@param ["every third number in scores", "multiples of three", "nothing, there is an error in the code", "nothing, none of the scores satisfy the conditional statement"]
if(variable_name == "multiples of three"):
  print("correct")
else:
  print("Please try again")

**Debug Exercise**
Fix the code below

In [0]:
sentence = "The quick brown fox jumps over the lazy dog"
for letter in sentence:
  print(letter)
else:
  print("Done")

# **Assignment #6**
1. Create a List with the following words:
>dog, cat, bunny, goat, cow, giraffe, pig, chicken
2. Count the animals in the list. 
3. If the word giraffe is in the list print "A giraffe is Not domesticated!"

In [0]:
#Assignment #5
animals = ["dog", "cat", "bunny", "goat", "cow", "giraffe", "pig", "chicken"]
count = 0
print("There are", len(animals), "animals in this list")

for i in animals:
  if i == "giraffe":
    count+=1
    print(count, "giraffe")

#another way
if "giraffe" in animals:
  print("A giraffe is not domesticated")

**The pass statement**

When an external condition is triggered, the pass statement allows you to handle the condition without the loop being impacted in any way; all of the code will continue to be read unless a break or other statement occurs.

The pass statement can act as a placeholder when working on new code and thinking on an algorithmic level before hammering out details

In [0]:
#Example of code that uses PASS
number = 0

for number in range(10):
    if number == 5:
        pass    # pass here
    print('Number is ' + str(number))
print('Out of loop')

In [0]:
#example of a pass statement
for i in range(20, 30):
  pass
print("done")

In [0]:
#example of a pass statement
sentence = "They call him the Spaniard"
count_l = 0
count_t = 0 

for letter in sentence: 
  if letter == "l":
    count_l = count_l + 1
  elif letter == "t":
    count_t = count_t + 1
  else:
    pass
print("number of ls = ", count_l)
print("number of ts = ", count_t)

The count of the number of 't's is incorrect. There are two 't's. What happened?

# **Assignment #7**
Create a string variable with the value: <br>
>"Four score and seven years ago our fathers brought forth on this continent, a new nation, conceived in Liberty, and dedicated to the proposition that all men are created equal.

>Now we are engaged in a great civil war, testing whether that nation, or any nation so conceived and so dedicated, can long endure. We are met on a great battle-field of that war. We have come to dedicate a portion of that field, as a final resting place for those who here gave their lives that that nation might live. It is altogether fitting and proper that we should do this.

Count the number of times the word "we" is found in the string variable. <br><br>

FYI: someone did this in two lines of code.

In [0]:
address = ("Four score and seven years ago our fathers brought forth " +
          "on this continent, a new nation, conceived in Liberty," +
          " and dedicated to the proposition that all men are created" +
          " equal.Now we are engaged in a great civil war, testing" +
          " whether that nation, or any nation so conceived and so " +
          "dedicated, can long endure. We are met on a great " + 
          "battle-field of that war. We have come to dedicate a portion" +
          " of that field, as a final resting place for those who here" +
          " gave their lives that that nation might live. It is " +
          "altogether fitting and proper that we should do this.")

print(address.count(" we ")+address.count(" We "))

# **Assignment #8**
Find all the numbers between 1000 and 3000 (inclusive) that are divisible by both 5 and 9.

In [0]:
#Assignment #8
count=0
for index in range(1000, 3000+1, 1):
  if not (index % 5):
    count+=1
  if not (index % 9):
    count+=1  
print(count)

# **Assignment #9**
1. Find all the numbers between 0 - 100 (inclusive) that are multiples of<br>
>Replace the number with the word FIZZ
2. Find all the numbers between 0 - 100 (inclusive) that are multiples of 7. <br>
>Replace the number with the word BUZZ
3. Find all the numbers between 0 - 100 (inclusive) that are multiples of 3 and 7. <br>
>Replace the number with the word FIZZBUZZ

In [0]:
#Assignment #9
data_set=[]
i=0
for i in range(101):
  data_set.append(i)
print(data_set)

for i in range(101):
  if (data_set[i] % 3 == 0) and (data_set[i] % 7 ==0):
    data_set[i] = "FIZZBUZZ"
  elif data_set[i] % 3 == 0:
    data_set[i] = "FIZZ"
  elif data_set[i] % 7 ==0:
    data_set[i] = "BUZZ"
  
print(data_set)

**Nested For Loops**
Nested loops are useful when for each pass through the outer loop, you need to repeat some action on the data in the outer loop.

In [0]:
n=5;
#Create i rows
for i in range(n):
    #For each row add another character 
    for j in range(i):
        print ('j ', end="")
    print('')

# **Assignment #10**
Using nested for loops, create the following shape:


bbbbbbbbbb<br>
bbbbbbbbb<br>
bbbbbbbb<br>
bbbbbbb<br>
bbbbbb<br>
bbbbb<br>
bbbb<br>
bbb<br>
bb<br>
b<br>

In [0]:
#Assignment #10
row = 10
for i in range(row+1):
  for j in range(row+1-i):
    print("b", end='')
  print("")

# **Assignment #11**
1. Write a program that takes two digits, m and n, from the user
2. Create a two dimensional list matrix[m][n]
3. Each value of matrix[m][n] should be m*n at that location. 

For example: <br>
m = 4<br>
n = 2<br>

matrix[0][0] = 0<br>
matrix[0][1] = 0<br>

matrix[1][0] = 0<br>
matrix[1][1] = 1<br>

matrix[2][0] = 0<br>
matrix[2][1] = 2<br>

matrix[3][0] = 0<br>
matrix[3][1] = 3<br>

[0,0],[0,1],[0,2],[0,3]

In [0]:
#Assignment #11
# Sanji's code
m = input("Enter a digit for number of rows :")
n = input("Enter a digit for number of columns :")
a=[[0 for i in range(int(n))] for j in range(int(m))]
#print(a)
for i in range(int(m)-1):
  for j in range(i):
    a[i][j] = i*j
print(a)

**Comments from Michael Cha and a fix to Sanjay's code**
The matrix is technically a list of lists, not necessarily a direct mxn matrix. So if your m is greater than n, when it is subscripting the inner lists, the it will exceed the size of those lists
Michael Cha8:17 AM
#Assignment #11

m = input("Enter a digit for number of rows :")
n = input("Enter a digit for number of columns :")
a=[[0 for i in range(int(n))] for j in range(int(m))]
#print(a)
for i in range(int(m)-1):
  for j in range(i):
    a[i][j] = i*j
print(a)
Matthew Woodall8:17 AM
You can think of the inner lists as the columns or rows, doesn't matter

# **Assignment #12**
Find all the words longer than 3 letters in the following text:

(I counted 159)

Four score and seven years ago our fathers brought forth on this continent, a new nation, conceived in Liberty, and dedicated to the proposition that all men are created equal.

Now we are engaged in a great civil war, testing whether that nation, or any nation so conceived and so dedicated, can long endure. We are met on a great battle-field of that war. We have come to dedicate a portion of that field, as a final resting place for those who here gave their lives that that nation might live. It is altogether fitting and proper that we should do this.

But, in a larger sense, we can not dedicate -- we can not consecrate -- we can not hallow -- this ground. The brave men, living and dead, who struggled here, have consecrated it, far above our poor power to add or detract. The world will little note, nor long remember what we say here, but it can never forget what they did here. It is for us the living, rather, to be dedicated here to the unfinished work which they who fought here have thus far so nobly advanced. It is rather for us to be here dedicated to the great task remaining before us -- that from these honored dead we take increased devotion to that cause for which they gave the last full measure of devotion -- that we here highly resolve that these dead shall not have died in vain -- that this nation, under God, shall have a new birth of freedom -- and that government of the people, by the people, for the people, shall not perish from the earth.<br><br>

Hint: <br>
1. Use """ at the beginning and end of text to create a multiline string. <br>
2. Use the split function on a string to separate it into words.

In [0]:
#Assignment 12

# **Assignment #13**

Find all the unique words in the text from Assignment #12 (The Gettysburg Address).
<br>
Hint: <br>
Use the set function in Python<br>
unique = set(text_in)

In [0]:
#Assignment 13

Congrats! You finished another Python Module.
Keep up the good work....start the next module

C5 Intro to ML Programming with Python
<br><br>
Instructions to access the notebooks:<br> 
In a Chrome or Firefox Window type on the search bar: **Google CoLab**<br>

On the orange menu bar, select the menu item: **GITHUB**<br>

If the orange pop-up menu does not appear, <br>

In the Notebook environment, select File>Open notebook <br>

The orange pop-up menu should now appear.<br>

Select:  GITHUB<br>

On the search bar type in: **cagBRT**  This will bring up my gitHub repository. <br>

On the drop down menu select: cagBRT/<br>**Intro-To-Programming-with-Python**<br>

Then select: **Intro to C5 Intro to Python.ipynb**<br>